.list-group-item {
  padding: 0.75rem 0.5rem;
}
.input-group-sm {
  width: 100px;
  .btn {
    height: 27px;
    line-height: 1;
  }
  input {
    height: 27px;
    line-height: 1;
  }
}

// .cart{
// 	width:100%;
// 	height:100%;
// 	border:1px solid #eee;
// 	background:yellow;
// 	padding:10px;
//
// 	.cart-title{
// 		margin-bottom:5px;
// 	}
//
// 	.cart-body{
// 		min-height:48px;
//
// 		.cart-item{
// 			width:100%;
// 			float: left;
// 	    	padding: 0px 10px;
//
// 	    	.item-info{
// 	    		margin:0px;
// 	    		min-width:150px;
// 	    	}
// 		}
//
//     	.fa-2x{
//     		margin-left:10px;
//     	}
//
// 		.item-col{
// 			padding:4px 5px 2px 5px;
// 		}
// 	}
//
// 	.cart-bottom{
// 		width:100%;
// 		.cart-total{
// 			padding-top:14px;
// 		}
// 		.btn-holder{
// 			min-height: 0px;
// 			padding:10px 0px 0px 0px;
// 			.btn-primary{
// 				margin-right:10px;
// 			}
// 		}
// 	}
// }
