<div class="row image-uploader" *ngIf="data">
        <div class="upload-cell" *ngIf="pic.image && pic.image.data">
            <input class="upload-input" name="image" type="file" (change)="onImageChange($event)" />
            <div class="row img-frame">
                <img [src]="getImageSrc(pic.image)" />
            </div>
            <div class="row">
                <div class="btn" (click)="onLoadImage()">
                    Change
                </div>
                <div class="btn" (click)="onDeleteImage()">Delete</div>
            </div>
        </div>

        <div class="upload-cell upload-new-area">
            <input #uploadInput class="upload-input" name="image" type="file" (change)="onImageChange($event)" />
        </div>
</div>
