<div class="product-list">
	<div class="product" *ngFor="let p of data; let i = index;">
		<div class="body" (click)="toDetail(p)">
			<div class="image-frame">
          		<img src="{{MEDIA_URL}}{{p.fpath}}" alt="{{p.title}}" />
			</div>
			<div class="title-xs">{{p.name}}</div>
		  	<div class="text-xs">{{p.dimension}}</div>
			<div class="text-xs">CAD {{p.price}}</div>
			<!-- <div class="text-sm">{{p.description}}</div> -->
		</div>
		<div class="btn-holder">
			<div class="btn btn-xs pull-right">Add</div>
		</div>
	</div>
</div>
