<div *ngIf="isAdminLogin" class="page">
    <!-- <app-header></app-header> -->

    <div class="container">
        <ngb-tabset>
<!--           <ngb-tab title="Orders">
            <ng-template ngbTabContent>
              <app-order-list [orders]="orders"></app-order-list>
            </ng-template>
          </ngb-tab> -->
          <ngb-tab title="Restaurants">
            <ng-template ngbTabContent>
              <multi-restaurant-form [restaurants]="restaurants"></multi-restaurant-form>
            </ng-template>
          </ngb-tab>
        </ngb-tabset>
    </div>

    <!-- <app-footer></app-footer> -->
</div>