
<div class="product-grid grid">
    <div class="grid-cell" *ngFor="let p of _data;let i = index;" >
      <div class="image-area">
          <img src="{{MEDIA_URL}}{{p.pic}}" />
          <!-- <img src={{APP_URL}}{{p.pictures[0].url}} alt="{{p.title}}"  /> -->
      </div>
      <div class="text-area">
        <div class="text-xs">
          <p>
            <a class = "heart-empty" (click)="toggleFavorit(p)" *ngIf=!p.like>&#9825;</a>
            <a class = "heart-full" (click)="toggleFavorit(p)" *ngIf=p.like>&hearts;</a>
            <span>
<!--               {{p.n_likes}} -->
            </span>
          </p>
        </div>
        <!-- <div class="text-s">{{p.title}},&nbsp;{{p.year}}</div> -->
        <div class="text-xs">{{p.title}}</div>
        <!-- <br/> -->  
        <div *ngIf="p.price!=0" class="text-s price">{{p.price | currency:'USD':true }}</div>
        <div *ngIf="p.price==0" class="text-s price">PRICE TBD</div>
        <!-- <div class="text-s" *ngIf='isNull(p.price)'>{{'PRICE_UNDECIDED' | translate}}</div> -->
        <div class="separator"></div>
      </div>
  </div>
</div>