<!-- <p style="padding-top: 100px;">
  dashboard works!
</p>
    <form [formGroup]="form" class="restaurant-form">
        <div class="row">
            <div class="label-sm">Dashboard Name:</div>
            <input name="name" formControlName="name"/>
            <div *ngIf="name.touched && name.invalid" class="alert alert-danger">
                <div *ngIf="name.errors.required">Dashboard Name is required</div>
                <div *ngIf="name.errors.minlength">Dashboard Name should be minimum 3 characters.</div>
            </div>
        </div>
        <button (click)="submit()">Submit</button>
    </form>
 -->  
 <!-- <app-blog></app-blog> -->

  <!-- <app-comment></app-comment> -->


<div class="page dashboard-page">
  <div class="container">
    <ngb-tabset>
      <ngb-tab title="Orders">
        <ng-template ngbTabContent>
          <app-order-list [orders]="orders"></app-order-list>
        </ng-template>
      </ngb-tab>
      <ngb-tab title="Restaurant">
        <ng-template ngbTabContent>
          <app-restaurant-form [data]="restaurant"></app-restaurant-form>
        </ng-template>
      </ngb-tab>
      <ngb-tab title="Products">
        <ng-template ngbTabContent>
          <multi-product-form [products]="products" [rid]="restaurant.id"></multi-product-form>
        </ng-template>
      </ngb-tab>
    </ngb-tabset>
  </div>

</div>